Menu (<a href="{{ site.github.repository_url }}/edit/{{site.git_branch | escape}}/_includes/sidebar.html">Edit</a>):

<ul>
  <li><a href="{{ '/' | relative_url }}">Home</a></li>
  <li><a href="{{ '/kubernetes' | relative_url }}">Kubernetes</a></li>
  <li><a href="{{ '/k3s' | relative_url }}">k3s</a></li>
  <li><a href="{{ '/longhorn' | relative_url }}">Longhorn</a></li>
  <li><a href="{{ '/proxmox' | relative_url }}">Proxmox</a></li>
  <li><a href="{{ '/pibox' | relative_url }}">Pibox</a></li>
</ul>
